@font-face {
    font-family: heading;
    src: url("/assets/fonts/young-serif/YoungSerif-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: paragraph;
    src: url("/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");

}
html {
    font-size: 16px;
}
body {
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: paragraph;

}
body h1 {
    color: hsl(24, 5%, 18%);
    
}
.page {
    max-width: 800px;
    background-color: hsl(0, 0%, 100%);
    margin: 3rem;
    padding: 1.5rem;
    border-radius: 1rem;
}
img {
    width: 100%;
    border-radius: 0.5rem;
}
span {
    color: hsl(30, 10%, 34%);
    font-weight: 600;
}
h2 {
    font-family: heading;
    color: hsl(14, 45%, 36%);
}
p, li{
    letter-spacing: 1.2px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
    line-height: 1.4rem;
}
li {
    margin-top: 7px;
}

hr {
    color: hsl(30, 18%, 87%);
}
.preparation_time  {
    background-color: hsl(330, 100%, 98%);
    padding: 10px 0;

}
.preparation_time h3 {
    color: hsl(332, 51%, 32%);
}
.preparation_time li {
    list-style: decimal;
}
.ingredient li {
    list-style-type: square;
}

table {
    width: 100%;
}
table td {
    padding: 10px 30px;
    color: hsl(30, 10%, 34%);
    border-bottom: 1px solid hsl(30, 18%, 87%);
}
table td:nth-child(2) {
    color: hsl(14, 45%, 36%);
    font-weight: 600;
}